.header1 {
	position: relative;
	z-index: 1000;
	background-color: #fff;
	padding: 10px 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
.header-wrap {
	border-top: 1px dashed #d7d7d7;
	border-bottom: 1px dashed #d7d7d7;
	min-height: 65px;
}
.header1 .logo-wrap {
	width: 326px;
	height: 178px;
	background: url(../images/logo-wrap.png) no-repeat top center;
	position: absolute;
	left: 50%;
	top: -10px;
	margin-left: -163px;
	z-index: 999998;
}
.header1 .logo {
	position: absolute;
	left: 63px;
	top: 42px;
}
.header1 .logo a {
	display: inline-block;
	height: 100%;
}
.header.header-sticky {
	position: relative;
	width: 100%;
	z-index: 1000;
}
/* navigation */
#mainnav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#mainnav ul li {
	position: relative;
}
#mainnav > ul > li {
	display: block;
	float: left;
}
#mainnav > ul > li > a {
	position: relative;
	display: block;
	font-size: 18px;
	font-family: "Open Sans", Raleway, "Microsoft YaHei", sans-serif;
	color: #726666;
	text-decoration: none;
	height: 65px;
	line-height: 65px;
	padding: 0 44px 0 52px;
	outline: none;
	font-weight: 500;
}
#mainnav > ul > li:last-child > a {
	padding-right: 0;
}
#mainnav > ul > li > a:before {
	position: absolute;
	left: 0;
	top: 0;
	content: "\f005";
	font-family: "FontAwesome";
	font-size: 11px;
	color: #726666;
}
#mainnav > ul > li:first-child > a:first-child:before {
	content: "";
}
/* submenu */
#mainnav ul.sub-menu {
	position: absolute;
	left: 40px;
	top: 100%;
	width: 200px;
	background-color: #fff;
	z-index: 9999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	visibility: hidden;
	-webkit-box-shadow: 0 0 20px rgba(194, 194, 194, 0.5);
	-moz-box-shadow: 0 0 20px rgba(194, 194, 194, 0.5);
	box-shadow: 0 0 20px rgba(194, 194, 194, 0.5);
	-webkit-transform: translate(0px, -15px);
	-moz-transform: translate(0px, -15px);
	-ms-transform: translate(0px, -15px);
	-o-transform: translate(0px, -15px);
	transform: translate(0px, -15px);
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#mainnav ul li:hover > ul.sub-menu {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0);
	-moz-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
#mainnav ul li ul li {
	margin-left: 0;
}
#mainnav ul.sub-menu li ul {
	position: absolute;
	left: 150px;
	top: 0;
}
#mainnav ul.sub-menu > li {
	border-top: 1px solid #d7d7d7;
}
#mainnav ul.sub-menu li:first-child {
	border-top: 1px dashed #d7d7d7;
}
#mainnav ul.sub-menu > li > a {
	display: block;
	color: #726666;
	text-decoration: none;
	padding: 0 0 0 20px;
	line-height: 45px;
	font-size: 14px;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
#mainnav ul.sub-menu > li > a:hover, #mainnav > ul > li > ul > li.active > a {
	color: #fff !important;
	background-color: #322d2d;
}