
/*CSS Document github.com/T-Y-P*/
:root {
    --bs-blue:#0d6efd;
    --bs-indigo:#6610f2;
    --bs-purple:#6f42c1;
    --bs-pink:#d63384;
    --bs-red:#dc3545;
    --bs-orange:#fd7e14;
    --bs-yellow:#ffc107;
    --bs-green:#198754;
    --bs-teal:#20c997;
    --bs-cyan:#0dcaf0;
    --bs-white:#fff;
    --bs-gray:#6c757d;
    --bs-gray-dark:#343a40;
    --bs-primary:#0d6efd;
    --bs-secondary:#6c757d;
    --bs-success:#198754;
    --bs-info:#0dcaf0;
    --bs-warning:#ffc107;
    --bs-danger:#dc3545;
    --bs-light:#f8f9fa;
    --bs-dark:#212529;
    --bs-font-sans-serif:system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    "Liberation Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol", 
    "Noto Color Emoji";
    --bs-font-monospace:SFMono-Regular, Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient:linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --body-font-size: 16px;
    --line-height30: 1.8;
    --main-color: rgb(206, 40, 41);
    --secondary-color: #fdc913;
    --main-color-opacity: 206, 40, 41;
    --body-font: "Barlow", sans-serif;
    --heading-font: "Barlow", sans-serif;
    --paragraph-color: #5f5f5f;
    --heading-color: #292929;
    --bebas-font: "Bebas Neue", cursive;
    --satisfy-font: "Satisfy", cursive;
   }


#header{width:100%;border-bottom:2px solid #ae1a20}
#header .pc{display:block;padding:15px 0}
#header .pc > ul{width:40%}
#header .pc > ul > li{float:left;width:33.3%;padding-top:6.5%;position:relative}
#header .pc > ul > li > a{display:block;padding-bottom:20px}
#header .pc > ul > li:hover ul{display:block}
#header .pc > ul > li:hover > a{color:#ae1a20;font-weight:bold}
#header .pc > ul > li ul{display:none;position:absolute;top:70px;z-index:1000;background:#fff;width:130px;border:1px solid #ccc}
#header .pc > ul > li ul li{padding:5px 0;border-bottom:1px solid #ddd}
#header .pc > ul > li ul li a{display:block;text-align:center}
#header .pc > ul > li ul li:hover{background:#ae1a20}
#header .pc > ul > li ul li:hover a{color:#fff}
#header .pc > ul > li ul.nl{left:-35px}
#header .pc > ul > li ul.nr{left:70px}
#header .pc .logo{width:20%}
#header .pc .logo a{display:block;text-align:center}
#header .pc .logo a img{width:90%}
#header .pc ul.nav_r li{text-align:right}
#header .moblie{display:none}
#footer .nav{width:100%;height:50px;background:#ae1a20}
#footer .nav ul li{width:14%;float:left;padding-top:14px}
#footer .nav ul li a{color:#fff}
#footer .nav ul li a:hover{color:#f08d1a}
#footer .bottom{padding:20px 0 30px 0;position:relative}
#footer .bottom .txt p{padding-bottom:5px}
#footer .bottom .txt p span{padding-left:30px}
#footer .bottom .txt p a{padding-left:10px}
#footer .bottom .q{position:absolute;right:0;top:-80px;width:160px}
#fixed{position:fixed;right:0;bottom:20%;z-index:998}
#fixed ul li{width:70px;height:70px;background:#231815;cursor:pointer;position:relative;margin-bottom:5px}
#fixed ul li i{display:block;margin:0 auto;width:50%;padding-top:5px}
#fixed ul li span{display:block;text-align:center;color:#fff;font-size:12px}
#fixed ul li p{position:absolute;top:0;right:70px;height:70px;line-height:70px;text-align:center;width:0px;background:#ae1a20;color:#fff;opacity:0}
#fixed ul li p b{position:absolute;bottom:0;right:0;display:block;border:5px solid #ae1a20;background:#ae1a20;color:#fff;line-height:30px;font-weight:normal}
#fixed ul li p img{display:block}
#fixed ul li:hover{background:#ae1a20}
#fixed ul li:hover p{width:150px;opacity:1}
@media (max-width:768px){.cut{position:fixed;height:100%;width:100%;overflow:hidden}
#header{border-bottom:none}
#header .pc{display:none}
#header .moblie{display:block}
#header .moblie .top{padding:5px 0;background:#fff}
#header .moblie .top h1{padding-top:4px;margin-left:10px}
#header .moblie .top h1 a{display:block}
#header .moblie .top h1 a img{display:block;width:100px}
#header .moblie .top .wap_nav{width:45px;height:45px;margin-right:5px;position:relative;z-index:1000}
#header .moblie .top .wap_nav span{display:block;width:60%;height:2px;background:#ae1a20;position:absolute;top:27px;left:15%}
#header .moblie .top .wap_nav span:first-child{top:15px}
#header .moblie .top .wap_nav .x45{transform:rotate(45deg);-ms-transform:rotate(45deg);-moz-transform:rotate(45deg);-webkit-transform:rotate(45deg);-o-transform:rotate(45deg);top:22px!important;background:#fff!important}
#header .moblie .top .wap_nav .z-45{transform:rotate(-45deg);-ms-transform:rotate(-45deg);-moz-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);-o-transform:rotate(-45deg);top:22px!important;background:#fff!important}
#header .moblie .top0{top:0!important}
#header .moblie .m_nav{position:absolute;z-index:999;top:-101%;left:0;width:100%;height:100%;background:rgba(174,26,32,0.95)}
#header .moblie .m_nav > ul{width:90%;margin:0 auto;padding-top:40px}
#header .moblie .m_nav > ul li a{line-height:10px;font-size:16px;padding:20px 5px;color:#fff;display:block;text-decoration:none}
#header .moblie .m_nav > ul li a:hover{color:white}
#header .moblie .m_nav > ul li:hover > ul{border-top:1px solid #fff}
#header .moblie .m_nav > ul ul{display:none}
#header .moblie .m_nav > ul ul li{margin:0;padding:0;clear:both}
#header .moblie .m_nav > ul ul li a{padding-left:20px;font-size:14px;font-weight:normal;outline:0}
#header .moblie .m_nav > ul ul li a:hover{background-color:#D3C99C;color:#675C7C}
#header .moblie .m_nav > ul span{float:right}
#footer .nav{display:none}
#footer .bottom{background:#ae1a20;padding:20px 0 15px 0}
#footer .bottom .txt{width:65%;padding-left:3%;float:left;color:#fff;font-size:14px}
#footer .bottom .txt p:first-child{padding-bottom:5px}
#footer .bottom .txt p span{display:block;padding-left:0;padding-top:5px}
#footer .bottom .txt p a{display:block;color:#fff;padding-left:0px}
#footer .bottom .q{position:static;top:inherit;right:inherit;width:25%;padding-right:3%;float:right}
#fixed{display:none}
}